!!!
%head
 %script{:type => "text/javascript", :src => "../js/libs/processing-1.1.0.min.js"}
 %script{:type => "text/javascript", :src => "../js/libs/jquery-1.6.1.min.js"}
 %script{:type => "text/javascript", :src => "../js/libs/underscore-min.js"}
 %script{:type => "text/javascript", :src => "../js/app.js"}
 %link{:rel => "stylesheet", :href => "../css/style.css", :type => "text/css", :media => "screen"}   
     
 #main
  %canvas{:id => "processing", :width => 400, :height => 400}
